.header {
  height: 6.25rem;
  background-color: var(--gray-800);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.header img {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.header span {
  font-size: 1.625rem;
  font-weight: 700;
}